/* Navbar (Header) Styles */
@mixin navbar {
    width:100%;
    position:fixed;
    display:flex;
    justify-content: center;
    align-items: center;
    z-index:1000;
    padding:10px;
    box-shadow: $base-box-shadow;
    .title {
        user-select: none;
        text-decoration: none;
        font-size: 1.2rem;
    }
    .question {
        position: absolute;
        top: 1.6rem;
        right: 20px;
        font-size: 1.4rem;
    }
}