// color pallete: hot variation
$primary-hot-color: #000000;
$sidebar-hot-color: #151515;
$bg-hot-color: #1a1919;
$bg-secondary-hot-color: #2b2b2b;
$card-hot-color: #a7a5a5;
$card-bg-hot-color: #d1d1d1;
$secondary-hot-color: #3D0000;
$maroon-hot: #950101;
$red-hot: #c80f0f;
$text-hot: #7c1515;

//color pallete: cold variation
$primary-cold-color: #15121b;
$secondary-cold-color: #322c41;
$bg-cold-color: #302e35;
$bg-deep-cold-color: #1f1d22;
$navy-cold: #5C527F;
$deep-blue-cold: #322d65;
$blue-cold: #6e85b2;
$text-cold: #5a59a3;
$deep-text-cold: #4c4ad4;
$bg-cold: #221e2c;

// box shadow
$base-box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
