/* Forgot Password Page Styles */
@mixin forgot-password {
    padding-top: 8rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    line-height: 3rem;
    input {
        @include inputs;
        width: 60vw;
        max-width: 600px;
        margin-top: 20px;
    }
    p {
        letter-spacing: 0.1rem;
    }
    button {
        margin-top: 40px;
        padding: 0.5rem 3rem;
        font-size: larger;
    }
    span {
        margin-top: 10px; 
    }
    .login-link {
        margin-top: 30px;
        width: 60vw;
        line-height: 1.5rem;
    }
}