/* Settings Paage Styles */
@mixin settings {
    width: 100vw;
    height: 100vh;
    background-color: black;
    padding-top: 6rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    
    a {
        text-decoration: underline;
    }
    h2 {
        padding: 1.2rem 30vw;
        letter-spacing: .1rem;
        text-transform: uppercase;
        user-select: none;
    }
    .settings-section {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 20px;

        border-radius: 8px;
        padding: 10px 20px 30px;

        width: 50vw;
        max-width: 500px;

        .settings-info {
            display: flex;
            flex-direction: column;
            align-items: space-between;
            white-space: pre-wrap;      
            word-wrap: break-word; 
            width: 100%;  
            span {
                font-weight: bolder;
            }
        }
        button {
            margin: 10px 0 0;
        }
        h3 {
            user-select: none;
            margin-bottom: 10px;
            padding: 0 30px 5px;
        }
    }
    .settings-mode {
        display: flex;
        align-items: center;
        font-size: 1.4rem;
        span {
            margin-right: 10px;
            user-select: none;
            &:hover { cursor: pointer; }
        }
        .label:hover { cursor: default; }
    }
    p {
        transition: opacity .16s ease;
        &:hover {
            opacity: 0.9;
        }
    }
}

.material-symbols-outlined {
    font-size: 1.8rem;
  font-variation-settings:
  'FILL' 0,
  'wght' 600,
  'GRAD' 0,
  'opsz' 48
}